.header {
  background-color: var(--red);
  padding: 1rem 0;
}

.header__logo {
  font-size: clamp(1.8rem, 7vw, 3.2rem);
  text-align: center;
  text-decoration: none;
}

.header__logo:hover,
.header__logo:focus {
  opacity: 0.7;
}
