.scoreboard {
  background-color: var(--dark);
  color: var(--white);
  padding: 1rem 0;
}

.scoreboard__row {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-between;
}

.scoreboard__text {
  margin: 0;
}

.scoreboard__gained-score {
  animation: fadeout 1s ease-in-out forwards;
  color: var(--pokemon-stroke);
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
