@font-face {
  font-family: 'Pokemon Solid';
  src: url('./assets/PokemonSolid.ttf');
}

@font-face {
  font-family: 'Press Start 2P';
  src: url('./assets/PressStart2P.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --pokemon-font: #feca1b;
  --pokemon-stroke: #3761a8;
  --red: #e41f25;
  --dark: #2b2b2a;
  --dark-opaque: rgb(43, 43, 42, 0.5);
  --white: #fff;
  --shadow: rgba(0, 0, 0, 0.4);
}

body {
  font-family: 'Press Start 2P';
  margin: 0;
}

img {
  max-width: 100%;
}

/* Allows main content to fill remaining space */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
}

#root > main {
  flex: 1;
}
